/* index body */

.page-wrap {
  margin: 0 auto;
  padding: 0 10px;
}

/* article */

.article {
  margin: 30px 0 0 0;
}

.article .article-title {
  margin-bottom: 80px;
  text-align: center;
}

.article .article-title .p-title {
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  color: #4d4d4d;
}

.article .article-title .p-info {
  font-size: 16px;
  padding: 5px 0;
  color: #b2b2b2;
}

.article .article-body .text {
  text-indent: 32px;
  font-size: 16px;
  line-height: 40px;
  color: #4c4c4c;
}

.article .article-body .article-img {
  padding-top: 40px;
}

.article .article-body img {
  width: 100%;
  height: 800px;
}

/* 尾部相关链接 */

.link-container {
  margin: 84px 0 100px 0;
}

.link-container .link-header {
  margin-bottom: 36px;
  font-size: 20px;
  color: #4d4d4d;
}

.link-container .link-list .item-link {
  padding: 10px;
}

.link-list .item-link a {
  color: #4ac9bb;
}

.link-list .item-link a:hover {
  color: #9ad6ce;
}
