/* ================= page-find-password ====================== */

.mod-sub--nav {
  width: 900px;
  margin-top: 46px;
  margin-bottom: 46px;
  margin-left: auto;
  margin-right: auto;

  .mod-sub-item {
    float: left;
    position: relative;
    width: 300px;
    height: 46px;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    color: #808080;
    background: #e6e6e6;
  }

  /* triangle */

  .mod-sub-item:nth-of-type(1)::after,
  .mod-sub-item:nth-of-type(2)::after {
    content: "";
    position: absolute;
    z-index: 555;
    display: block;
    right: -16px;
    top: 6px;
    width: 32px;
    height: 33px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    background: #e6e6e6;
  }

  /* active state */

  .mod-sub-item.active {
    color: #fff;
    background: #5cd6c7;
  }

  .mod-sub-item.active::after {
    background: #5cd6c7;
  }
}

.findPassword-item__wrapper {
  width: 700px;
  margin-top: 20px;
  border: 1px solid hsl(0%, 0%, 80%);
  margin-left: auto;
  margin-right: auto;

  .findPassword-item {
    position: relative;
    width: 700px;
    padding-left: 20px;

    text-align: left;

    &:nth-child(2) {
      border-top: 1px solid hsl(0%, 0%, 80%);
    }
    &__input {
      width: 300px;
      padding: 10px;
      outline: none;
      border: 0;
    }
    &__label {
      display: inline-block;
      width: 200px;
    }
    &__send {
      position: absolute;
      margin-left: 25px;
      z-index: 2;
      border-left: 1px solid hsl(0%, 0%, 80%);
      padding: 4px;

      font-size: 14px;
      line-height: 1;
      color: #5cd6c7;
      cursor: pointer;
    }
  }
}

.findPassword-item__return {
  color: hsl(0%, 0%, 30%);
  strong {
    font-size: 18px;
    color: #5cd6c7;
  }
}
