/**
 * @Author: jecyu
 * @Date: 2017-12-07 10:32:38 am 
 * @Modified By: jecyu 
 * @Last Modified time: 2017-12-07 5:03:56 pm 
 */
.page-wrap {
    width: 1200px;
    margin: 0 auto;
}

.page-wrap .page-title {
    text-align: center;
}

.page-wrap .page-title h2 {
    display: inline-block;
    padding: 10px 0;
    border-bottom: 2px solid #4ac8bb;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #4c4c4c;
}


/* mod-forgot */

.mod-forgot {
    width: 900px;
    margin: 0 auto;
    margin-top: 108px;
}

.mod-forgot .mod-sub--nav {
    margin-top: 46px;
}

.mod-forgot .mod-sub--nav .mod-sub-item {
    float: left;
    position: relative;
    width: 300px;
    height: 46px;    
    
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    color: #808080;
    background: #e6e6e6;
}

/* triangle */
.mod-forgot .mod-sub--nav .mod-sub-item:nth-of-type(1)::after,
.mod-forgot .mod-sub--nav .mod-sub-item:nth-of-type(2)::after {
    content: '';
    position: absolute;
    z-index: 555;
    display: block;
    right: -16px;
    top: 6px;
    
    width: 32px;
    height: 33px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    background: #e6e6e6;    
}

/* active state */
.mod-forgot .mod-sub--nav .mod-sub-item.active {
    color: #fff;
    background: #5cd6c7;
}

.mod-forgot .mod-sub--nav .mod-sub-item.active::after {
    background: #5cd6c7;
}


.mod-forgot .user-box {
    overflow: hidden;
    /* margin-top: 48px; */
}

.mod-forgot .user-box .user-groups {
    margin-right: 80px;
}

.mod-forgot .user-box .user-item {
    position: relative;
    margin-top: 44px;
}

.user-box .user-item .user-label {
    display: block;
    
    font-size: 16px;
    color: #808080;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
}

.user-box .user-item {
    position: relative;
}

.user-box .user-item .user-content {
    height: 40px;
    width: 360px;
    padding-left: 5px;
    margin-top: 10px;
    
    font-size: 16px;
    line-height: 40px;
    color: #b2b2b2;
    background: #fff;
    vertical-align: middle;
    outline: none;
}

.user-box .user-item .feedback {
    position: absolute;
    right: 350px;
    top: 40px;
    font-size: 14px;
}

.feedback.success {
    color: lightgreen;
}

.feedback.error {
    color: #fd2121;
}

.user-box .user-item .tips {
    font-size: 20px;
    color: #fe4747;
    vertical-align: -2px;
}

/* btn-groups */
.btn-groups {
    margin-top: 45px;
    text-align: left;
}

.btn-groups .opera-btn {
    display: inline-block;
    width: 140px;
    height: 50px;
    border-radius: 2px;
    border: 0;

    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #5cd6c7;
    cursor: pointer;
    outline: none;
}

.btn-groups .opera-btn:hover {
    color: #f0f0f0;
    background: #72f1e1;
}

.btn-groups .opera-btn+.opera-btn {
    margin-left: 32px;
}


/* form step */

.form {
    display: none;
}

.form-1 {
    /* display: block; */
}

.form-2 {
    /* display: block; */
    width: 900px;
    margin: 0 auto; 
}

.form-3 {
    /* display: block; */
}


/* form-2 */

.form-2 .form-info {
    font-size: 16px;
    color: #4c4c4c;
    margin: 15px 0;
}

.form-2 .user-groups {
    margin-top: 50px;
}

.form-2 .user-item:nth-of-type(1) {
    margin-top: 0;
}

.form-2 .user-item .user-label {
    width: 360px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #a9a9a9;
    padding-left: 5px;
    box-sizing: border-box;
}

.form-2 .user-box .feedback {
    top: 60px;
    right: 394px;
}


/* form-3 */

.form-3 .user-item .user-label {
    display: inline-block;
    
    width: 100px;
    padding-right: 10px;
    text-align: right;
    font-size: 20px;
    vertical-align: -6px;
}

.form-3 .user-item .user-content {
    vertical-align: middle;
}

.form-3 .user-item .box-tips {
    position: absolute;
    right: 160px;
    top: 0;

    width: 152px;
    height: 62px;
    border: 1px solid #808080;
    padding: 5px;

    font-size: 12px;
    color: #808080;
    background: #f9f9f9; 
}

.form-3 .user-item .feedback {
    top: 22px;
    right: 284px;
}

.arrow-box {
    position: absolute;
    z-index: 10;
    top: 24px;
    right: 150px;
    height: 8px;
    width: 16px;
    background: #f9f9f9;
    border: 1px solid rgb(128, 128, 128);    
}

.arrow-box::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;

    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #808080;
}

/* .arrow_box {
    position: relative;
    background: #88b7d5;
    border: 1px solid #2c2c2c;
} */

.arrow_box:after,
.arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #f9f9f9;
    border-width: 10px;
    margin-top: -10px;
}

.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #808080;
    border-width: 12px;
    margin-top: -12px;
}

