/**
 * @Author: jecyu
 * @Date: 2017-12-05 3:10:50 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-12-07 9:39:42 am 
 */

.top_div {
    float: right;
    line-height: 60px;
    margin-right: 60px;
}

.top_div span {
    border-radius: 10px;
    padding: 0 5px;
    height: 20px;
    font-size: 14px;
}

.top_div div {
    float: left;
    margin: 0 5px;
    cursor: pointer;
}

.top_span1 {
    color: #fff;
    background-color: #c0c0c0;
}

.top_content {
    padding-top: 62px;
    width: 100%;
    height: 700px;
}

.top_content img {
    width: 100%;
    height: inherit;
    z-index: -1;
}

.top_content_div {
    margin-top: -200px;
    height: 100px;
    z-index: 99999;
    text-align: center;
}

.top_content_div p:first-child {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}

.top_content_div p:last-child {
    width: 100%;
    font-size: 15px;
    color: white;
    /*text-align: center;*/
}

.top_btn {
    height: 36px;
    width: 120px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
}

.middle_content {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 50px;
    margin: 50px 0 50px 0;
}

.middle_content span {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #57d6c8;
    font-size: 30px;
    color: #858585;
}

.middle-content {
    padding-top: 62px;
    width: 100%;
    margin: auto;
    height: 600px;
    text-align: center;
}

.middle_content_ {
    width: 100%;
    height: 350px;
    display: inline-flex;
    text-align: center;
}

.wjoin {
    width: 100%;
    height: 370px;
    text-align: center;
}

.wjoin1 {
    width: 80%;
    height: inherit;
    display: inline-flex;
}

.wjoin2 {
    width: 32%;
    height: inherit;
    border: 1px solid #979797;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
}

.wjoin3 {
    width: 97%;
    height: 280px;
    text-align: center;
    margin: 10px auto;
}

.wjoin3 img {
    height: inherit;
    width: inherit;
}

.p1 {
    color: #8e8e8e;
    margin-top: 25px;
    font-size: 20px;
}

.g-middle {
    width: 100%;
    height: 530px;
    background: #40d1c2;
    text-align: center;
}

.g_middle {
    display: inline-flex;
    width: 80%;
    height: inherit;
}

.g1 {
    width: 50%;
    height: inherit;
    text-align: center;
}

.g1-1 {
    width: 80%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

.p2 {
    color: white;
    margin: 50px 0 50px 0;
}

.g1-2 {
    width: 47%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

.g1-2 p:nth-child(1) {
    color: white;
    margin-top: 30px;
    float: left;
}

.g1-2 p:nth-child(2) {
    color: white;
    margin-top: 30px;
    float: left;
}

.g1-2 p:nth-child(3) {
    color: white;
    margin-top: 30px;
    float: left;
}

.p3 {
    color: white;
    margin-top: 30px;
    position: relative;
}

.g2 {
    width: 50%;
    height: inherit;
    text-align: center;
}

.g-middle div div img {
    height: 80px;
    width: 80px;
    margin: 50px auto;
}

.bt-content {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    display: inline-flex;
    text-align: center;
}

.bt-content-1 {
    width: 47%;
    height: inherit;
    margin: 0 auto;
    border: 1px solid #979797;
    border-radius: 4px;
}

.bt-content-1 p:nth-child(2) {
    font-size: 18px;
    color: #979797;
    margin-top: 30px;
}

.bt-content-1 p:nth-child(3) {
    font-size: 18px;
    color: #979797;
    margin-top: 30px;
}

.bt-content-1 p:nth-child(4) {
    font-size: 18px;
    color: #979797;
}

.bt-content-1 img {
    margin: 50px 0 0 0;
}

.bottom {
    width: 100%;
    height: 500px;
    background-color: #545454;
    text-align: center;
}

.bottom-1 {
    width: 740px;
    height: 380px;
    margin: 0 auto;
    border-bottom: 2px solid #b1b1b1;
    display: inline-flex;
}

.bottom_1 {
    margin-right: 80px;
    /*    width: 20%;
    float: left;*/
}

.bottom-1 ul {
    width: 20%;
    height: inherit;
    display: inline;
}

.bottom-1 ul li {
    list-style-type: none;
    line-height: 40px;
    text-align: left;
}

.bottom-1 ul li:first-child {
    margin-top: 45px;
    font-size: 18px;
    height: 70px;
    line-height: 50px;
    color: white;
}

.bottom-1 ul a {
    color: white;
    text-decoration: none;
    width: 10%;
}

.bottom-2 {
    margin-top: 35px;
    color: white;
    letter-spacing: 3px;
    font-size: 10px;
}
