/* ==================== page-job-opportunities ======================= */

/* ====================== section-job-opportunities ========================== */

.job {
  overflow: hidden;
  font-size: 18px;
  line-height: 1.6;
  &__title {
    overflow: hidden;
    margin: 60px 0 0 0;
    text-align: left;
    color: #4ac8bb;
  }
  &__section-title {
    margin: 40px 0 0px 0;
    text-align: left;
    color: #4ac8bb;
  }
  .job-item {
    position: relative;
    min-height: 100px;
    margin-top: 30px;

    &__summary {
      overflow: hidden;
      position: relative;

      height: 100px;
      padding: 0 20px;
      background: #f2f2f2;
      cursor: pointer;

      &:hover,
      &-is-actived {
        background: hsl(0, 0%, 89%);
      }
    }
    &__info,
    &__deliver {
      position: absolute;
      height: 60px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &__info {
      left: 20px;
    }
    &__deliver {
      right: 20px;
    }

    &__title {
      display: inline-block;
      font-size: 20px;
      font-weight: normal;
      color: #4c4c4c;
    }
    &__text {
      font-size: 16px;
      color: #4c4c4c;
    }
    &__salary {
      color: #4ac8bb;
    }
    /* job-deliver */
    &__deliver {
      width: 250px;
      line-height: 60px;
      font-size: 16px;
    }
    &__time {
      padding-right: 12px;
      color: #b2b2b2;
    }
    &__btn {
      display: inline-block;
      width: 100px;
      border-radius: 2px;
    }

    &__content {
      display: none;
      background: hsl(0, 0%, 98%);
      padding: 30px 20px;
    }

    /* job-ps */
    &__points {
      margin-bottom: 20px;
    }
    &__point {
      display: inline-block;
      height: 40px;
      padding: 0 16px;
      border: 1px solid #59cbbf;
      font-size: 14px;
      line-height: 40px;
      color: #59cbbf;

      margin-right: 26px;
    }
    &__pointInfo {
      margin-top: 50px;
    }
  }
}

/* deliver-modal */
.deliver-modal {
  min-width: 400px;
  min-height: 200px;
  text-align: center;
  font-size: 16px;
  background: hsl(0, 0%, 100%);

  &__title {
    margin-top: 30px;
    color: hsl(174, 53%, 54%);
  }
  &__footer {
    margin-top: 50px;
    font-size: 0;
  }
  &__btn {
    width: 100px;
    font-size: 16px;
    & + & {
      margin-left: 20px;
    }
  }
}
