/* ==================== page-love-files ======================= */

/* ====================== section-love-files  ========================== */

.section-loveFiles {
  margin: 50px;
  background: hsl(0, 0%, 100%);
}

.loveFiles-container {
  .loveFiles-list {
    padding-top: 40px;
  }
  .loveFiles-item {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    color: #323232;
    background: #fff;
  }
}
