/*
 * @Author: Jecyu 
 * @Date: 2018-02-10 15:06:55 
 * @Last Modified by: Jecyu
 * @Last Modified time: 2018-03-02 16:11:54
 */

/* ======================= article ========================== */

.article {
  background-color: #f5f5f5;
  /* ============ article-header ================= */
  &__header {
    position: relative;
    overflow: hidden;
    min-height: 100px;
  }
  &__title--primary {
    margin-top: 30px;
    font-size: 28px;
    color: #40d1c3;
  }
  &__title--secondary {
    font-size: 16px;
    color: #333;
  }
  &__body {
    background-color: hsl(0, 0%, 100%);
  }
}

/* ==================== page-project ======================= */

/* ====================== section-project  ========================== */

.section-projects {
  margin: 50px;
  background: hsl(0, 0%, 100%);
}

.projects-container {
  .projects-list {
    padding-top: 30px;
  }
  .projects-item {
    width: 580px;
    margin-top: 25px;
    padding: 28px 30px;
    cursor: pointer;
    a {
      color: hsl(0, 0%, 20%);
    }

    &:nth-child(odd) {
      margin-right: 40px;
    }

    font-size: 18px;
    color: #323232;
    background: #f5f5f5;
    &__img {
      width: 100%;
      height: 330px;
      font-size: 0;
    }
    &__content {
      overflow: hidden;
      height: 300px;
      width: 860px;
      border-bottom: 1px solid #888;
    }
    &__title {
      margin-bottom: 20px;
      text-align: center;
    }
    &__para {
      font-size: 14px;
      text-align: justify;
    }
    &__navigation {
      margin-top: 30px;
    }
  }
}
