/*
 * @Author: Jecyu 
 * @Date: 2018-02-10 15:06:55 
 * @Last Modified by: Jecyu
 * @Last Modified time: 2018-02-27 10:54:45
 */

/* ======================= article ========================== */
.article {
  background-color: #f5f5f5;
  /* ============ article-header ================= */
  &__header {
    position: relative;
    overflow: hidden;

    height: 100px;
  }
  &__title--primary {
    margin-top: 30px;
    font-size: 28px;
    color: #40d1c3;
  }

  &__title--secondary {
    font-size: 16px;
    color: #333;
  }

  &__body {
    background-color: hsl(0, 0%, 100%);
  }
}

/* ==================== page-map ======================= */

/* ==================== section-demand ======================== */

.demand-container {
  width: 1420px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  .demand {
    position: relative;
    overflow: hidden;
    width: 460px;
    height: 380px;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 10px;
    text-align: center;
    font-size: 0;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &__img {
      height: 300px;
      width: 420px;
      max-width: 100%;
      margin-top: 20px;
    }
    &__title {
      font-size: 24px;
      line-height: 60px;
      text-align: center;
      color: hsl(0, 0%, 20%);
    }
  }
}

/* ====================== section-map ========================== */

.section-assitance {
  margin: 50px;
  padding: 60px;
  background: hsl(0, 0%, 100%);
}

.tab2-container {
  .tab2-nav {
    display: inline-block;
    margin-right: 50px;
    background-color: #f5f5f5;

    &__item {
      position: relative;
      height: 60px;
      padding: 0 40px 0 20px;

      &.is-actived::after {
        content: ">";
        color: #323232;
      }
    }
    &__link {
      line-height: 60px;
      color: #323232;
    }
  }
  .tab2-content {
    color: #323232;

    &__head {
      display: block;
      width: 100%;
      border-bottom: 1px solid #323232;
      padding-bottom: 26px;
    }
    &__para {
      margin-top: 30px;
    }
  }
}
