/**
 * @Author: jeCyu
 * @Date: 2017-12-02 4:01:26 pm 
 * @Modified By: jeCyu 
 * @Last Modified time: 2017-12-04 10:14:25 am 
 */

.page-wrap {
  width: 1200px;
  margin: 0 auto;
}

.page-wrap .page-title {
  text-align: center;
}

.page-wrap .page-title h2 {
  display: inline-block;
  padding: 10px 0;
  border-bottom: 2px solid #4ac8bb;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #4c4c4c;
}

/* submission-section */

.submission-section {
  /* margin-top: 108px; */
}

.submission-section .user-box {
  overflow: hidden;
  margin-top: 44px;
}

.submission-section .user-box .user-groups {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

.submission-section .user-box .user-item {
  display: inline-block;
  position: relative;
  margin-top: 44px;
  vertical-align: middle;
}

.user-box .user-item .user-label {
  display: inline-block;
  padding-right: 10px;

  font-size: 20px;
  color: #4c4c4c;
  text-align: right;
  vertical-align: middle;
  cursor: pointer;
}

.user-box .user-item {
  position: relative;
}

.user-box .user-item .user-content {
  height: 26px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 26px;
  background: #fff;
  vertical-align: middle;
  outline: none;
}

.user-box .user-item .feedback {
  position: absolute;
  left: 140px;
  font-size: 14px;
}

.user-box .user-item .feedback.success {
  color: lightgreen;
}

.user-box .user-item .feedback.error {
  color: #fd2121;
}

.user-box .user-item #name {
  width: 228px;
}

.user-box .user-item #sex {
  position: relative;
  width: 113px;
  height: 26px;
  font-size: 18px;
  color: #4c4c4c;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* triangle */

.user-box .user-groups .user-item.sex::after {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  left: 224px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #4d4d4d;
}

.user-box .user-item .tips {
  font-size: 20px;
  color: #fe4747;
  vertical-align: -2px;
}

.user-box .user-item .tips.optional {
  color: #8b8b8b;
}

.user-box .user-item .tips.optional .comments {
  color: #fe4747;
}

#theme {
  width: 354px;
}

#author {
  width: 130px;
}

#source {
  width: 178px;
}

#link {
  width: 200px;
}

/* user-text */

.user-text {
  margin-top: 15px;
  font-size: 20px;
  color: #4d4d4d;
}

.user-text .user-item + .user-item {
  margin-top: 46px;
}

.user-text .user-item .user-label-wrap {
  margin-bottom: 22px;
}

.user-text .user-item .user-label {
  cursor: pointer;
}

.user-text .user-item .user-content {
  width: 100%;
  height: 242px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  resize: none;
  /*不支持IE*/
}

/* user-attachment */
.attachment {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin-top: 46px;

  font-size: 20px;
  color: #4d4d4d;
}

#attachfile {
  display: none;
}

.attachment .user-item .user-label {
  padding-right: 10px;
  cursor: pointer;
}

.attachment .user-item .user-content {
  height: 26px;
  width: 146px;
  border: 1px solid #cdcdcd;
  outline: none;
  vertical-align: middle;
}

.attachment .opera-btn {
  vertical-align: middle;
}

/* btn-groups */

.btn-groups {
  margin-top: 86px;
  text-align: center;
}

.opera-btn {
  display: inline-block;
  width: 52px;
  height: 26px;
  border-radius: 2px;
  border: 0;

  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  background: #5cd6c7;
  cursor: pointer;
  outline: none;
}

.opera-btn:hover {
  color: #f0f0f0;
  background: #72f1e1;
}

.btn-groups .opera-btn + .opera-btn {
  margin-left: 32px;
}

.textarea-wrap {
  position: relative;
}

.scroll-btn-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10px;
}

.scroll-btn-wrap .scroll-btn {
  position: absolute;
  right: 2px;
  display: block;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  cursor: pointer;
}

.scroll-btn-wrap .scroll-btn.down {
  bottom: 0;
  border-bottom: 5px solid transparent;
  border-top: 11px solid #4d4d4d;
}

.scroll-btn-wrap .scroll-btn.up {
  top: -4px;
  border-top: 5px solid transparent;
  border-bottom: 11px solid #4d4d4d;
}
