/* ================= register-page =================== */
/* resume-section */

.register {
  overflow: hidden;
  text-align: center;
  &__title {
    // font-size: 28px;
    margin-top: 30px;
    color: hsl(0, 0%, 20%);
  }
  &__subtitle {
    display: inline-block;
    border-bottom: 1px solid #5cd6c7;
    margin-bottom: 30px;

    text-align: center;
    font-size: 20px;
  }
}

.user-section {
  color: #323232;
  text-align: left;
  margin-bottom: 40px;

  &__title {
    // margin-top: 40px;
    color: #5cd6c7;
  }
  &__subtitle {
    color: hsl(0, 0%, 50%);
    margin-bottom: 20px;
  }
  .user-container {
    margin-right: 200px;
    &.member__user-container {
      margin-right: 0;
    }
  }

  .user-item {
    position: relative;
    margin-top: 20px;
    width: 400px;
    &__label {
      display: block;

      font-size: 16px;
      color: #4c4c4c;
      text-align: left;
      vertical-align: middle;
      cursor: pointer;

      &.user-item__label--inline {
        display: inline-block;
        // width: 80px;
      }
      &-gender {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__radio-wrapper {
      margin-right: 20px;
    }
    &__radio {
      display: inline-block;
      vertical-align: middle;
    }
    &__tips {
      font-size: 20px;
      color: #fe4747;
      vertical-align: -2px;
    }

    &__input {
      display: inline-block;
      width: 300px;
      height: 26px;
      padding: 14px 8px;

      font-size: 16px;
      line-height: 26px;
      background: #fff;
      vertical-align: middle;
      outline: none;
    }
    &__textarea {
      width: 800px;
      height: 242px;
      padding: 10px;

      font-size: 16px;
      outline: none;
      resize: none;
      /*不支持IE*/
      color: #4d4d4d;
    }
    &__feedback {
      &.success {
        color: lightgreen;
      }
      &.error {
        color: lightcoral;
      }
    }
  }

  /* btn-groups */
}

.user-btn__groups {
  margin-top: 50px;
  text-align: center;
  font-size: 0;
  .user-btn {
    min-width: 100px;
    font-size: 16px;
    margin: 0 25px;
  }
}
