/* ================ common-header ================= */
.con-navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;

  width: 100%;
  background: #fff;
  border-bottom: 0.1rem solid rgba(22, 22, 22, 0.2);
}

.nav {
  height: 60px;
  .nav__logo {
    float: left;
    width: 60px;
    height: 60px;
    &-img {
      height: inherit;
      width: inherit;
    }
  }
  .nav__links {
    float: left; // width: 60rem;
    height: 60px;
    line-height: 60px;
    text-align: center;
    & > .nav__item {
      float: left;
      width: 120px;
      padding: 0 0;
      transition: all 0.3s;
      &:hover,
      &:focus {
        display: block;
        .sub-menu__item {
          display: block;
        }
      }
    }
    .nav__item-link {
      color: #6e6e6e;
      text-decoration: none;
      padding: 5px 2px;

      &:hover,
      &--is-actived {
        border-bottom: 2px solid #43d2c3;
      }
    }
  }
  .nav__action-buttons {
    float: right;
    line-height: 60px;
    margin-right: 60px;
    color: #545454;
    .action-box {
      float: left;
      margin: 0 5px;
      cursor: pointer;
    }
    .search-box__label {
      cursor: pointer;
      vertical-align: middle;
    }
    .search-box__input {
      height: 20px;
      width: 160px;
      vertical-align: 2px;
      outline: none;
    }
    .language-switch__btn {
      border-radius: 10px;
      padding: 0 5px;
      height: 20px;
      font-size: 14px;
      &.is-actived {
        color: #fff;
        background-color: #c0c0c0;
      }
    }
  }
  /* sub-menu */
  .sub-menu {
    display: block;
    transition: all 0.3s;
    background: #fff;
    .sub-menu__item {
      display: none;
      height: 40px;
      // width: 100px;
      line-height: 40px;
      &:hover {
        background: rgba(22, 22, 22, 0.1);
      }
    }
    .sub-menu__link {
      color: #6e6e6e;
      &:hover {
        color: #3bb6aa;
      }
      &:link {
        text-decoration: none;
      }
    }
  }
}
